body {
	font-family: 'Homemade Apple', cursive;
    background-image: url("../img/piano-playing-gif.gif");
    background-size: cover;
}

.img {
	max-width: 100%;
	max-height: auto;
}

p {
	color: #0b306b;	
}

.profile-pic {
	max-width: 100%;
	max-height: 1500px;
}

.profile-title {
	color: #8fb9fc;
}

.presents-progress {
	background-color: orange;
}
 
 .jumbotron {
font-family: 'Homemade Apple', cursive;
color: gold;
background-color: transparent; !important;
}

.coverbox {
	border:none;
}